@theme { 
    --radius-10: 40px;
    --radius-9: 36px;
    --radius-8: 32px;
    --radius-7: 28px;
    --radius-6: 24px;
    --radius-5: 20px;
    --radius-4: 16px;
    --radius-3: 12px;
    --radius-2: 8px;
    --radius-1: 4px;
    
}
